@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  overflow-x: hidden;
  /* Prevent horizontal scroll only */
  overflow-y: auto;
  /* Allow vertical scroll */
  background-color: #0f172a;
  font-family: 'Outfit', sans-serif;
}