@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars for full screen animation */
  background-color: #000;
  font-family: 'Outfit', sans-serif;
}
